#map-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

#map {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  position: absolute;
  pointer-events: auto;
}

.warning-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  animation-name: slide-in-from-top;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes slide-in-from-top {
  from {
    top: -40px;
  }
  to {
    top: 15px;
  }
}

.warning-message {
  position: relative;
  padding: 6px 10px;
  background-color: darkred;
  border-radius: 8px;
  color: white;
  text-align: center;
}
