h3,
h4 {
  padding: 0;
  margin: 0;
}

.map-options-wrapper {
  --top: 20px;
  --menu-button-width: 30px;

  display: none;
  position: absolute;
  float: right;
  top: var(--top);
  width: calc(var(--panel-width) + var(--menu-button-width));

  pointer-events: auto;
}

.expand-button {
  position: absolute;
  size: relative;
  top: var(--top);
  right: 0;
  width: 100%;

  background: var(--secondary-color);
  background: linear-gradient(
    270deg,
    var(--primary-color) 50%,
    var(--secondary-color) 100%
  );
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: left;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 14px 0px;

  font-family: Mako;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;

  transition: right var(--menu-transition-time) ease-in-out;
}

.map-options {
  position: relative;
  box-sizing: border-box;
  float: right;
  width: calc(100% - var(--menu-button-width));

  display: flex;
  align-items: flex-start;
  padding: 20px 30px 30px 20px;
  border-radius: 26px 0px 0px 26px;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 14px 0px;

  color: var(--text-color);
  background: var(--secondary-color);
  transition: right 0.4s ease-in-out;

  --grey: #858585;
}

.filters {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;

  font-family: Mako;
  font-size: 30px;
  line-height: 40px;
}

.filters-titles {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  h3 {
    margin: 0;
    padding: 0;
  }
}

%filters-input {
  margin: 0;
  padding: 3px 8px;
  border: none;
  border-radius: 8px;
  outline: none;

  font-size: 20px;
  line-height: 23px;

  transition: box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

select,
input,
option {
  @extend %filters-input;
}

select option[value] {
  color: var(--text-color);
}

.greyed,
select option[value=""] {
  color: var(--grey);
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;

  .filter-input {
    max-width: 90%;
    width: 90%;
  }

  .master-checkbox {
    margin: 0 0 0 8px;
    width: 28px;
    height: 28px;
    &:hover {
      box-shadow: none;
    }
  }
}

.slider-section {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

#size-slider {
  flex-grow: 1;
}

#reset-button {
  @extend %filters-input;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  padding: 8px;
  transition: filter 0.2s ease-out, box-shadow 0.2s ease-out;

  &:hover {
    filter: brightness(150%);
  }
  &:active {
    filter: none;
  }
}
