body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: flex-end;
}

section {
  position: absolute;
  z-index: 4;
  width: 180px;
  right: 25px;
  top: 25px;
  summary {
    border-color: rgb(150, 0, 150);
    border-style: solid;
    border-width: 10px;
    border-radius: 3px 3px 0px 0px;
    cursor: pointer;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 65px;
    background-color: rgb(150, 0, 150);
    color: white;
    &:hover {
      color: rgba(0, 0, 0, 0.61);
    }
    div {
      display: flex;
      flex-direction: column;
    }
  }
  details:last-child {
    summary {
      border-radius: 0px 0px 3px 3px;
    }
  }
  details:nth-child(2) {
    summary {
      border-radius: 0px;
    }
  }
}

#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

select {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  background-color: white;
}

label {
  display: none;
}

a {
  display: none;
}

option {
  border-width: 2px;
  border-style: solid;
  border-color: auto;
  border-radius: 5px;
}
section div {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 5px;
}

button {
  padding: 0px;
  background-color: rgb(155, 0, 155);
  border: rgb(155, 0, 155) 2px solid;
  color: white;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  cursor: pointer;
  height: 60px;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    color: rgba(0, 0, 0, 0.61);
  }
}

.tick::before {
  content: "✔";
  color: green;
  float: left;
  padding-left: 3px;
}
